
<p class="about">
    This calculator has been ported to javascript in an angular 10 application by 
    <a href="https://joebartelmo.com">Joe Bartelmo</a> in 2020.
    <br/>
    <br/>
    This Climate Battery Calculator was originally developed as the SHCS Calculator by John Cruickshank,
    designer and inventor who partnered with Jerome to develop the climate battery technology. John
    has since passed on, but his contributions to passive solar greenhouse heating are still being
    used and improved upon today, and he will always be remembered and appreciated. Calculator
    Versions 2.0 and later are maintained by design firm Eco Systems Design, a collaboration
    of Jerome Ostentowski (founder of CRMPI & climate battery expert), Michael Thompson
    (chief architect and local food advocate), and Will Lennox (greenhouse systems designer,
    solar energy specialist). Please have patience with this calculator as the thermodynamics
    of climate battery heat transfer is continuously studied and refined.
    In addition to the thermo calculations, additional cost calculations and estimates are retrieved by
    several apis on the internet. Other parts of this spreadsheet are automated by making use of other
    external apis. 
    <br/>
    <br/>
    Original Calculator can be found <a href="http://www.ecosystems-design.com/climate-battery-calculator.html">here</a>.
</div>
